<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nc.cms.mapper.UserInfoMapper">
	
	<select id="getUserInfo" resultType="userInfomation">
		SELECT * FROM TB_USER
		WHERE 1=1
		AND ID = 'youngran'
	</select> 
	
	<select id="userCount" resultType="integer">
		select count(*) from TB_user
	</select>
</mapper>

